[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=true
Exec=mines-tui %f
Icon=mines
Name=Mines-TUI
Comment=A Terminal based Minesweeper implementation
Categories=Game
